<h1>New Profile</h1>
<!-- <p>Find me in app/views/classmates/index.html.erb</p> -->
<%= link_to 'Where Are They Now?', controller: 'classmates' %>
<%= link_to 'New classmate', new_classmate_path %>


<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Portfolio</th>
    <th>Location</th>
  </tr>

  <% @classmate.each do |classmate| %>
    <tr>
      <td><%= classmate.first_name %></td>
      <td><%= classmate.last_name %></td>
      <td><%= classmate.portfolio_url %></td>
      <td><%= classmate.location %></td>
      <td><%= link_to 'Show', classmate_path(classmate) %></td>
      <td><%= link_to 'Edit', edit_classmate_path(classmate) %></td>
    </tr>
  <% end %>
</table>
