<h1>Showing This Classmate</h1>

<p>
  <strong>First Name:</strong>
  <%= @classmate.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @classmate.last_name %>
</p>

<p>
  <strong>Portfolio URL:</strong>
  <%= @classmate.portfolio_url %>
</p>

<p>
  <strong>Current City:</strong>
  <%= @classmate.location %>
</p>

<%= link_to 'Edit', edit_classmate_path(@classmate) %>
<%= link_to 'Back', classmates_path %>
