<h1>Showing This Classmate</h1>

<p>
  <strong>First Name:</strong>
  <%= @classmate.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @classmate.last_name %>
</p>

<p>
  <strong>Portfolio URL:</strong>
  <%= @classmate.portfolio_url %>
</p>

<p>
  <strong>Current City:</strong>
  <%= @classmate.location %>
</p>

<h2>Comments</h2>
<% @classmate.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@classmate, @classmate.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_classmate_path(@classmate) %>
<%= link_to 'Back', classmates_path %>
